<div class='card col-lg-5 col-md-12 mt-3 p-0'>
    <img class='img-fluid p-0' src="{{image}}" class='card-img-top'>
    <div class='card-body'>
        <a href="{{link}}" target='_blank'>
            <h5 class='card-title'>{{title}}</h5>
        </a>
        <button type="button" class="btn btn-sm btn-dark delete" data-id={{_id}}>Unsave</button>
        <button type="button" class="btn btn-sm btn-dark addNote" data-toggle="modal" data-target="#noteModal{{_id}}"
            data-id={{_id}}>Notes</button>
    </div>
</div>